{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@makkii-connector/base-connector": "./node_modules/socket-bridge/packages/base-connector"
        }
      }
    ]
  ]
}
