{
  "presets": ["env", "stage-0"],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-class-properties",
    "transform-flow-strip-types"
  ]
}
